<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        سلام
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Home",

  data: () => ({}),
};
</script>
<style></style>
