<template>
  <v-app>
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",

  components: {},

  data: () => ({
    //
  }),
};
</script>
<style>
@import "../node_modules/@aasaam/noto-font/dist/font-face.css";
.v-application,
.v-application .headline {
  font-family: "aasaam-Noto" !important;
}
</style>
